* {
    padding: 0px;
    margin: 0 px;
}

body{
    background-color: rgb(2, 1, 47)
}

.ul1{
    display: flex;
}

.list{
    list-style: none;
    margin-left: 660px;
    color: white;
}

.list1{
    list-style: none;
    margin-left: 50px;
    color: white;
}

.img2{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border-radius: 50px;
}

.img1{
    margin-left: 60px;
    width: 90px;
    height: 70px;
    border-radius: 25px;
}
.footer{
    color: white;
    text-align: center;
    display: flex;
    margin-left: 200px;
}
.footer02{
    margin-left: 295px;
}
.footer03{
    margin-left: 260px;
}
.footer04{
    margin-left: 295px;
}
