<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/base.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <header class="container" style="margin-top: 30px;">
        <nav class="row" id="navbar">
                <img class="img1" src="./images/IMG_1413.JPG" alt="png" >
            <div class="col-4">
                <ul class="ul1">
                    <li class="list">Home</li>
                    <li class="list1">About</li>
                    <li class="list1">Projects</li>
                    <li class="list1">Contact</li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-5"><img style="margin-left: 50px;" class="img2" src="./images/IMG_1413.JPG"></div>
            <div class="col-5" style="margin-top: 50px; margin-left: 100px;">
                <h1 class="title_text" style="color: white;">About him</h1>
                <p class="info_text" style="color: white;">5 yilik tajribaga ega kibrxafsizlikda ishlidi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, asperiores. Consequatur quaerat maiores dicta, cupiditate aspernatur commodi ratione assumenda asperiores unde id eveniet nesciunt earum eaque fuga! Praesentium ipsum, veritatis totam cupiditate est, ea tenetur neque minus nemo iure error aut, perspiciatis assumenda illum mollitia eius quod molestias fugit quibusdam.</p>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-5" style="margin-top: 50px; margin-left: 60px;">
                <h1 class="title_text" style="color: white;">About him</h1>
                <p class="info_text" style="color: white;">5 yilik tajribaga ega kibrxafsizlikda ishlidi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, asperiores. Consequatur quaerat maiores dicta, cupiditate aspernatur commodi ratione assumenda asperiores unde id eveniet nesciunt earum eaque fuga! Praesentium ipsum, veritatis totam cupiditate est, ea tenetur neque minus nemo iure error aut, perspiciatis assumenda illum mollitia eius quod molestias fugit quibusdam.</p>
            </div>
            <div class="col-5"><img class="img2" style="margin-top: 50px; margin-left: 90px;" src="./images/IMG_1413.JPG"></div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-5"><img class="img2" style="margin-left: 50px;" src="./images/IMG_1413.JPG"></div>
            <div class="col-5" style="margin-top: 50px; margin-left: 100px;">
                <h1 class="title_text" style="color: white;">About him</h1>
                <p class="info_text" style="color: white;">5 yilik tajribaga ega kibrxafsizlikda ishlidi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, asperiores. Consequatur quaerat maiores dicta, cupiditate aspernatur commodi ratione assumenda asperiores unde id eveniet nesciunt earum eaque fuga! Praesentium ipsum, veritatis totam cupiditate est, ea tenetur neque minus nemo iure error aut, perspiciatis assumenda illum mollitia eius quod molestias fugit quibusdam.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="display: flex; margin-top: 100px;">
                <div class="box" style="margin-left: 90px;text-align: center ;">
                    <img style="width: 300px; height: 300px; border-radius: 25px;" src="./images/IMG_1413.JPG" alt="">
                    <h1 style="color: white; margin-top: 15px;">Projects</h1>
                </div>
                <div class="box1" style="margin-left: 80px; text-align: center ">
                    <img style="width: 300px; height: 300px;border-radius: 25px;" src="./images/IMG_1413.JPG" alt="">
                    <h1 style="color: white;  margin-top: 15px; ">About</h1>
                </div>
                <div class="box2" style="margin-left: 80px; text-align: center ">
                    <img style="width: 300px; height: 300px; border-radius: 25px" src="./images/IMG_1413.JPG" alt="">
                    <h1 style="color: white;  margin-top: 15px; ">Rezume</h1>
                </div>
            </div>
        </div>
    </section>
    <footer class="container" id="footer" style="background-color: rgb(2, 1, 47);">
        <div class="row">
            <div class="col-5" style="margin-left: 80px; margin-top: 100px;">
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </footer>
</body>
</html>