<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/base.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <nav id="home">
    <img src="./images/IMG_1413.JPG" alt="Logo" />
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#team">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section class="team-section" id="About">
    <div class="profile-card">
      <img src="./images/cybersecurity.jpg" alt="John" />
      <h3>John Doe</h3>
      <p>Cybersecurity Expert</p>
    </div>
    <div class="profile-card">
      <img src="./images/22f4ae8c-ac82-4727-8b5c-65359f49c95a.png" alt="Alice" />
      <h3>Alice Smith</h3>
      <p>Frontend Developer</p>
    </div>
    <div class="profile-card">
      <img src="./images/cf49dada-4a63-4c61-a0da-1046c06c8a80.png" alt="Bob" />
      <h3>Bob Johnson</h3>
      <p>Data Engineer</p>
    </div>
  </section>

  <section class="about-section container" id="team">
    <img src="./images/IMG_1413.JPG" alt="About Image" />
    <div class="text">
      <h1>About John</h1>
      <p>5 yillik tajribaga ega kiberxavfsizlik mutaxassisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, ratione? Cupiditate aspernatur unde id, illum explicabo veniam excepturi voluptate quisquam!</p>
    </div>
  </section>

  <section class="contact-container" id="contact">
    <h1>Contact <span>Me!</span></h1>
    <form>
      <div class="form-row">
        <input type="text" placeholder="Full Name" required />
        <input type="email" placeholder="Email Address" required />
      </div>
      <div class="form-row">
        <input type="text" placeholder="Phone Number" />
        <input type="text" placeholder="Subject" />
      </div>
      <textarea placeholder="Your Message" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  </section>

  <footer>
    <div>
        <a href="https://www.instagram.com/blackspace.tm?igsh=ZHEyd3Rsd28wYW92" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
        </a>      
        <i class="fa-brands fa-telegram"></i>
    </div>
    <p style="margin-top: 20px;">&copy; phone number: +998998312138</p>
    <p>&copy; email: blackspacetmm@gmail.com</p>
    <p>&copy; 2025 IT Portfolio. All rights reserved.</p>
  </footer>
</body>
</html>